<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://harnishbalancesheet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>harnishbalancesheet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HarnishBalanceSheet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HarnishBalanceSheet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:harnishserver.database.windows.net,1433;Initial Catalog=HarnishBalanceSheet_db;User ID=peterharnish@harnishserver;Password=Jala3712" Name="Data Source=tcp:harnishserver.database.windows.net,1433;Initial Catalog=HarnishBalanceSheet_db;User Id=peterharnish@harnishserver;Password=Jala3712" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HarnishBalanceSheet-20151113101941.mdf;Initial Catalog=aspnet-HarnishBalanceSheet-20151113101941;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HarnishBalanceSheet-20151113101941.mdf;Initial Catalog=aspnet-HarnishBalanceSheet-20151113101941;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=harnishstorage;AccountKey=LFJjkGAJw4/duVDUB6nnBWdxqK9xIHCRorY11gRZGzu6bQ4UwdA6+gBKMLhq1tx/h9eyLINGihwQCTkwOHM+UQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=harnishstorage;AccountKey=LFJjkGAJw4/duVDUB6nnBWdxqK9xIHCRorY11gRZGzu6bQ4UwdA6+gBKMLhq1tx/h9eyLINGihwQCTkwOHM+UQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=harnishstorage;AccountKey=LFJjkGAJw4/duVDUB6nnBWdxqK9xIHCRorY11gRZGzu6bQ4UwdA6+gBKMLhq1tx/h9eyLINGihwQCTkwOHM+UQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=harnishstorage;AccountKey=LFJjkGAJw4/duVDUB6nnBWdxqK9xIHCRorY11gRZGzu6bQ4UwdA6+gBKMLhq1tx/h9eyLINGihwQCTkwOHM+UQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsDashboard-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:harnishserver.database.windows.net,1433;Initial Catalog=HarnishBalanceSheet_db;User Id=peterharnish@harnishserver;Password=Jala3712</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>